<?xml	version="1.0"	encoding="UTF-8"	?>
<widget	xmlns	 =	"http://www.w3.org/ns/widgets"
  xmlns:gap	 =	"http://phonegap.com/ns/1.0"
  id	 =	"com.phonegap.ejemplo"
  version	 =	"1.0.0"	>
  <name>Ejemplo	PhoneGap</name>
  <description>
    Ejemplo	de	PhoneGap.
  </description>
  <author	href="https://build.phonegap.com"
    email="support@phonegap.com">
    Nombre	y	apellidos
  </author>
</widget>
